$desktop: 1224px;
$tablet: 768px;

@mixin fr {
   display: flex;
   flex-direction: row;
}
@mixin frr {
   display: flex;
   flex-direction: row-reverse;
}
@mixin fc {
   display: flex;
   flex-direction: column;
}
@mixin fcr {
   display: flex;
   flex-direction: column-reverse;
}
@mixin cc {
   justify-content: center;
   align-items: center;
}
@mixin desktop {
   @media (min-width: #{$desktop}) {
     @content;
   }
 }
 
 @mixin tablet {
   @media (min-width: #{$tablet}) and (max-width: #{$desktop - 1px}) {
     @content;
   }
 }